body, html {
  box-sizing: border-box;
  background: #F7B32B;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #F72C25;
}

h2 {
  color: #FCF6B1;
  text-shadow:
  -1px -1px 0 gray,
  1px -1px 0 gray,
  -1px 1px 0 gray,
  1px 1px 0 gray;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  color: #36494E;
}

a:link {
  text-decoration: none;
}

header {
  text-align: center;
}

.post-user-name {
  text-align: left;
  font-size: 16px;
}

.all-posts, .all-users {
  float: left;
  width: 30%;
}

.each-post, .a-user {
  background: #A9E5BB;
  margin: 1%;
  padding: 2%;
}

.a-post, .new-post, .update-post, .new-user {
  float: right;
  background: #7A5C61;
  width: 60%;
  margin-right: 4%;
  margin-top: 3%;
  min-height: 180px;
  padding: 1%;
}

.a-post h3, .users-notes h3 {
  color: #d5dbd3;
}

.title-area, .first-name-area, .last-name-area {
  display: block;
  resize: none;
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
  width: 97%;
  outline: none;
  margin-bottom: 2%;
  min-height: 20px;
}

.body-area {
  display: block;
  resize: none;
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
  width: 97%;
  outline: none;
  margin-bottom: 2%;
  min-height: 75px;
}

.copy-area {
  min-height: 95px;
}

.copy-area p {
  color: #d7ddd5;
}

.a-post a {
  color: #F72C25;
}

button {
  background: #d7ddd5;
  border-radius: 15px;
  border: none;
  padding: 6px 14px;
  color: red;
}

header a {
  color: red;
  margin-right: 50px;
}

.search-area {
  text-align: center;
}

h2.search-result {
  text-align: center;
  color: #FCF6B1;
  line-height: 150px;
}

.user-note, .search-result {
  margin-top: 1%;
  float: right;
  background: #7A5C61;
  width: 60%;
  margin-right: 4%;
  min-height: 180px;
  padding: 1%;
}

.users-notes {
  padding-top: 30px;
}
