<div class="new-post">
  {{textarea placeholder="Add a body" class="body-area" value=bodyHere}}
  {{view "select"
  content=users
  optionValuePath="content.id"
  optionLabelPath="content.firstName"
  value=userHere
  prompt="Select User"}}
  {{input type="hidden" value=id}}

  <button {{action 'newComment'}}>Add Comment</button>
</div>
