<div class="a-post">
  <h3>{{title}}</h3>
  <p>{{body}}</p>
  <button> {{#link-to 'post.edit' this}}
    Edit Post
  {{/link-to}} </button>
  <button {{action 'deletePost' this}}>Delete Post</button>
</div>

{{outlet}}
