<div class="all-users">
  {{#each user in model}}
    <div class="a-user">
      {{#link-to 'user' user}}
        <h2>{{user.firstName}}
        {{user.lastName}}</h2>
      {{/link-to}}
      <button {{action 'deleteUser' user.id}}>Delete User</button>
    </div>
  {{/each}}
</div>

{{outlet}}
