<div class="all-users">
  {{#each user in model}}
    <div class="a-user">
      {{#link-to 'user' user}}
        {{user.firstName}}
        {{user.lastName}}
      {{/link-to}}  
    </div>
  {{/each}}
</div>

{{outlet}}
